<!DOCTYPE html>
<html lang="en">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Create new League</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
      <link rel="stylesheet" th:href="@{/css/style.css}" /> 
    </head>
    <body>

      <!-- navigation bar -->
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#" style="margin-left: 20px;">FantaSports</a>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/main">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>  
        </div>
        
        <div style="margin-right: 20px;">
            <span> Log as: &nbsp;
                <strong class="username" th:text="${user.username}"> </strong>
            </span> &nbsp; &nbsp; &nbsp;
            <a href="/main" class="btn btn-primary">Back</a>
        </div>
      </nav>


      <!-- form to create a new league -->
      <div class="container mt-3">
        <form id="form" action="/createNewLeague" th:object="${league}" method="post" >
          <div class="mb-3">
            <label for="username" class="form-label"><b>League Name</b></label>
            <input type="text" class="form-control" id="name" aria-describedby="nameHelp" th:field="*{name}" required>
          </div>

          <div class="mb-3">
            <label for="type" class="form-label"><b>Type of League</b></label><br>
            <input type="radio" id="points" name="type" value="Points" th:field="*{type}" required>
            <label for="points">Points</label><br>
            <input type="radio" id="headToHead" name="type" value="Head to head" th:field="*{type}" required>
            <label for="headToHead">Head to head</label>
          </div>

          <div class="mb-3">
            <label for="numberFormation" class="form-label"><b>Numbers of player in the Formation</b></label>
            <input type="number" class="form-control" id="nFormation" aria-describedby="numberFormationHelp" th:field="*{nFormation}" oninput="validatePositiveNumber(this)"  required>
          </div>

          <div class="mb-3">
            <label for="numberParticipants" class="form-label"><b>Number of Participants</b></label>
            <input type="number" class="form-control" id="nParticipants" aria-describedby="numberParticipantsHelp" th:field="*{nParticipants}" oninput="validateEvenNumber(this)" required>
          </div>

          <div class="mb-3">
            <label for="startDate" class="form-label"><b>Start Date</b></label>
            <input type="date" class="form-control" id="startDate" aria-describedby="startDateHelp" th:field="*{startDate}" required>
          </div>

          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>

      <script>
        function validatePositiveNumber(input) 
        {
          var value = input.value;
          if (value <= 0)
            input.setCustomValidity('Please enter an positive number.');
          else
            input.setCustomValidity('');  
        }

        function validateEvenNumber(input) 
        {
          var value = input.value;
          if (value % 2 !== 0)
            input.setCustomValidity('Please enter an even number.');
          else
            input.setCustomValidity('');  
        }

        document.addEventListener('DOMContentLoaded', (event) => 
        {
          let today = new Date().toISOString().substr(0, 10);
          document.querySelector("#start_Date").setAttribute('min', today);
        });

      </script>
  </body>
</html>

