<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#" style="margin-left: 20px;">FantaSports</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>

    <div style="margin-right: 20px;">
            <span> Log as: &nbsp;
                <span class="username" th:text="${user.username}"> <strong></strong></strong></span>
            </span> &nbsp; &nbsp; &nbsp;
        <a href="/" class="btn btn-primary">Sign Out</a>
    </div>
</nav>

<div class="container mt-3 ">
    <div th:if="${modifyButton}">
        <a href="/modifyLeague" class="btn btn-primary my-2 "> Modify </a>
    </div>
    <div class="my-3 p-3 rounded box-shadow">
        <div class="row">
            <div class="col">
                <p class="media-body pb-3 mb-0 small lh-125 ">
                    <strong class="d-block text-gray-dark">League Name: <span th:text="${league.name}"></span></strong>
                </p>
            </div>
            <div class="col">
                <p class="media-body pb-3 mb-0 small lh-125 ">
                    <strong class="d-block text-gray-dark">Number of Participants: <span th:text="${league.nParticipants}"></span></strong>
                </p>
            </div>
            <div class="col">
                <p class="media-body pb-3 mb-0 small lh-125 ">
                    <strong class="d-block text-gray-dark">Number of Formations: <span th:text="${league.nFormation}"></span></strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="media-body pb-3 mb-0 small lh-125 ">
                    <strong class="d-block text-gray-dark">Type: <span th:text="${league.type}"></span></strong>
                </p>
            </div>
            <div class="col">
                <p class="media-body pb-3 mb-0 small lh-125 ">
                    <strong class="d-block text-gray-dark">Status: <span th:text="${league.status}"></span></strong>
                </p>
            </div>
            <div class="col">
                <p class="media-body pb-3 mb-0 small lh-125">
                    <strong class="d-block text-gray-dark">Start Date: <span th:text="${league.startDate}"></span></strong>
                </p>
            </div>
        </div>
    </div>
    <h6 class="border-bottom border-gray pb-2 mb-0">Ranking</h6>
    <div th:if="${ranking}" class="media pt-3">
        <th:block th:each="team, i : ${teams}">
            <div class="card mb-3 card-mod">
                <div class="card-body text-decoration-none link-card">
                    <div class="row">
                        <div class="col">
                            <span class="mb-0"><b th:text="${i.count}"></b>| <span th:text="${team.name}"></span></span>
                        </div>
                        <div class="col text-end">
                            <small id="team-points">Points: <span th:text="${team.points}"></span></small> <!-- Team points -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <small id="creator-name" th:text="${team.owner.username}"></small> <!-- Creator name -->
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>

<div class="container mt-3">
    <div class="my-3 p-3 rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">My Players</h6>
        <div class="media pt-3">
            <th:block th:each="player : ${userPlayers}">
                <div class="card mb-3 card-mod">
                    <div class="card-body text-decoration-none link-card">
                        <div class="row">
                            <div class="col">
                                <span class="mb-0"> <span th:text="${player.name}"></span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <small id="vote" th:text="${player.vote}"></small> <!-- Creator name -->
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="my-3 p-3 rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">My Formation</h6>
        <div class="media pt-3">
            <th:block th:each="player : ${formation}">
                <div class="card mb-3 card-mod">
                    <div class="card-body text-decoration-none link-card">
                        <div class="row">
                            <div class="col">
                                <span th:text="${player.name}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <form id="formation-form" th:action="@{/addPlayersToFormation/{teamId}(teamId=${team.id})}" method="post">
        <div class="my-3 p-3 rounded box-shadow ">
            <h6 class="border-bottom border-gray pb-2 mb-0">Set Formation</h6>
            <div class="media pt-3">
                <th:block th:each="player : ${userPlayers}">
                    <div class="card mb-3 card-mod">
                        <div class="card-body text-decoration-none link-card">
                            <div class="row">
                                <div class="col">
                                    <input type="checkbox" id="playerId" name="playerIds" th:value="${player.id}">
                                    <label for="playerId"><span th:text="${player.name}"></span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Add Selected Players to Formation</button>
    </form>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <p th:text="${errorMessage}"></p>
    </div>

    <!-- Fix Print error message -->
</div>

<script>
    window.onload = function() {
        var checkboxes = document.querySelectorAll("input[type='checkbox']");
        var submitButton = document.querySelector("button[type='submit']");

        function checkSelection() {
            var checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);
            submitButton.disabled = !checkedOne;
        }

        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].addEventListener('change', checkSelection);
        }

        // Call checkSelection at startup in case some boxes are already checked
        checkSelection();
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>