<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
    <!-- th:action="@{/login}" send the data to /login (via POST) -->
    <!-- th:object="${user}" binds the form to the user object (the addAttribute of Model) -->
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
        <p>Username: <input type="text" th:field="*{username}" /></p>
        <p><input type="submit" value="Submit" />
    </form>
</body>
</html>